.btn1{
    background-image: -moz-linear-gradient(pink,purple); 
    margin: 15px 22px ;
    padding: 12px 25px;
    color:black;
    border: 2px solid purple;
    border-radius: 12px;
    cursor: pointer;
}
.btn1:hover{
    opacity: 0.8;
}
h1::first-letter{
    font-size: 3rem;
    background-image: linear-gradient(rgb(185, 14, 131),rgb(41, 5, 75));
    background-clip: text;
    color: white;
    background-color:white;
    
}
h1{
    font-size: 1.5rem;
    margin-left:159px;
    border-radius: 10px;
    padding: 16px;
    display: block;
    width: 40%; 
}  
.container{ 
    text-align: center;
    margin: 20px 450px;
    margin-left:25%;
    border: 4px solid  rgb(238, 233, 233);
    border-radius: 15px;
    width: 50%; 
}  
input{
   
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
    background-color: rgb(226, 232, 238);
    width: 95%;
    color: black;
   } 
   .container img{
    margin-top: 2%;
    width: 20%;
   }
.sex{

    padding: 2%; 
    background-color: rgb(238, 233, 233);
    font-size: 1.3rem;
    margin-top: 2%;
}
input[type=radio] {
    margin: 1px;
    border: 0px;
    width: 10%;
    height: 1.5em;
    
}
#age{
    background-color:rgb(232, 192, 240);
    height: 30px;
    border-color: blueviolet;
    border-radius: 12px;

} 
h4 span{
    font-size: 0.7rem;
    
    border: 2px solid rgb(241, 0, 0);
}
h4 span:hover{
    color: rgb(241, 0, 0);
    border: 2px solid black;
  
}